#![allow(clippy::all)]
#![allow(unused, deprecated, dead_code)]
#![cfg_attr(rustfmt, rustfmt_skip)]

use bevy_mod_scripting_bindings::{
    ReflectReference, 
    function::{from::{Ref, Mut, Val}, namespace::{NamespaceBuilder}}
};
use bevy_ecs::{prelude::*};
use bevy_app::{App, Plugin};


use bevy_mod_scripting_derive::script_bindings;