[package]
name = "bevy_mod_scripting"
version = "0.1.1"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
edition = "2021"
license = "MIT"
description = "Multi language scripting in Bevy"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "lua"]
categories = ["game-development"]
readme = "readme.md"
include= ["readme.md","/src","/examples","/assets","LICENSE"]

[lib]
name = "bevy_mod_scripting"
path = "src/lib.rs"

[package.metadata."docs.rs"]
features = ["lua","rhai","lua_script_api","rhai_script_api","teal"]

[features]
## core
doc_always = ["bevy_mod_scripting_core/doc_always"]

## lua
lua = ["bevy_mod_scripting_lua"]
# one of these must be selected
lua51 = ["bevy_mod_scripting_lua/lua51", "lua"]
lua52 = ["bevy_mod_scripting_lua/lua52", "lua"]
lua53 = ["bevy_mod_scripting_lua/lua53", "lua"]
lua54 = ["bevy_mod_scripting_lua/lua54", "lua"]
luajit = ["bevy_mod_scripting_lua/luajit", "lua"]
luajit52 = ["bevy_mod_scripting_lua/luajit52", "lua"]

# optional
lua_script_api=["bevy_script_api/lua"]
unsafe_lua_modules=["bevy_mod_scripting_lua/unsafe_lua_modules"]
teal = ["bevy_mod_scripting_lua/teal"]
mlua_serialize = ["bevy_mod_scripting_lua/mlua_serialize"]
mlua_macros = ["bevy_mod_scripting_lua/mlua_macros"]

## rhai
rhai = ["bevy_mod_scripting_rhai"]
rhai_script_api=["bevy_script_api/rhai"]

[dependencies]
bevy_mod_scripting_core = { path = "bevy_mod_scripting_core", version = "0.1.1" }
bevy_mod_scripting_lua = { path = "languages/bevy_mod_scripting_lua", version = "0.1.1", optional = true }
bevy_mod_scripting_rhai = { path = "languages/bevy_mod_scripting_rhai", version = "0.1.1", optional = true}
bevy_script_api = { path = "bevy_script_api", version = "0.1.1", optional = true }

[dev-dependencies]
bevy = { version = "0.8.0"}
rand = "0.8.5"


# bevy_console = { git = "https://github.com/OnlyGraphs/bevy-console" }
# bevy_asset_loader = {git = "https://github.com/NiklasEi/bevy_asset_loader", features = ["dynamic_assets"]}
# bevy_script_api= {path="./bevy_script_api", version="0.1.1", features=["lua","rhai"]}
# bevy_mod_scripting_rhai = {path="languages/bevy_mod_scripting_rhai", version="0.1.1"}
# bevy_mod_scripting_lua = {path="languages/bevy_mod_scripting_lua", version="0.1.1", features=["lua54"]}
# bevy_mod_scripting_lua_derive = {path="languages/bevy_mod_scripting_lua_derive", version="0.1.1"}

# bevy = { version = "0.8.0"}
# serde = "1.0.137"
# criterion = "0.3"


[workspace]
resolver = "2"
members = [
    "bevy_mod_scripting_core",
    "bevy_event_priority",
    "bevy_mod_scripting_derive",
    "bevy_api_gen",
    "bevy_script_api",
    "languages/bevy_mod_scripting_lua",
    "languages/bevy_mod_scripting_lua_derive",
    "languages/bevy_mod_scripting_rhai",
    "languages/bevy_mod_scripting_rhai_derive",
    "bevy_mod_scripting_common"
]

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3


# needs bevy 0.8 support from console
# [[example]]
# name = "console_integration_lua"
# path = "examples/console_integration_lua.rs"
# required-features = ["lua54"]


# [[example]]
# name = "console_integration_rhai"
# path = "examples/console_integration_rhai.rs"

[[example]]
name = "complex_game_loop_lua"
path = "examples/lua/complex_game_loop.rs"
required-features=["lua54"]

[[example]]
name = "game_of_life_lua"
path = "examples/lua/game_of_life.rs"
required-features=["lua54","teal","lua_script_api"]

[[example]]
name = "event_recipients_lua"
path = "examples/lua/event_recipients.rs"
required-features=["lua54"]

[[example]]
name = "documentation_gen_lua"
path = "examples/lua/documentation_gen.rs"
required-features=["lua54","teal","lua_script_api"]


[[example]]
name = "bevy_api_lua"
path = "examples/lua/bevy_api.rs"
required-features=["lua54","lua_script_api"]

[[example]]
name = "bevy_api_rhai"
path = "examples/rhai/bevy_api.rs"
required-features=["rhai","rhai_script_api"]


[[example]]
name = "wrappers"
path = "examples/wrappers.rs"
required-features=["lua54","lua_script_api"]



