[workspace]
changelog_path="./CHANGELOG.md"
dependencies_update = false
publish_timeout = "30m"
git_release_enable = false
git_tag_enable = false
git_release_body = """
{{ changelog }}
{% if remote.contributors %}
### Contributors
{% for contributor in remote.contributors | unique(attribute="username") %}
* @{{ contributor.username }}
{% endfor %}
{% endif %}
"""

[changelog]
commit_parsers = [
    # dont include chore changes in changelog
    { message = "^chore.*", skip = true },
    { message = "^test.*", skip = true },
    { message = "^docs.*", skip = true },
    { message = ".*[SKIP_CHANGELOG].*", skip = true },
    { message = "^feat", group = "added" },
    { message = "^changed", group = "changed" },
    { message = "^deprecated", group = "deprecated" },
    { message = "^fix", group = "fixed" },
    { message = "^security", group = "security" },
    { message = "^refactor", group = "refactor" },
    { message = "^.*", group = "other" },
]

[[package]]
name = "bevy_mod_scripting"
publish_features = ["lua54"]
version_group = "main"
git_release_latest = true
git_release_enable = true
git_tag_enable = true
git_tag_name = "v{{ version }}"
git_release_name = "v{{ version }}"

[[package]]
name = "bevy_mod_scripting_lua"
publish_features = ["lua54"]
version_group = "main"

[[package]]
name = "bevy_mod_scripting_core"
version_group = "main"

[[package]]
name = "bevy_mod_scripting_derive"
version_group = "main"

[[package]]
name = "bevy_mod_scripting_rhai"
version_group = "main"

# [[package]]
# name = "bevy_mod_scripting_rune"
# version_group = "main"

[[package]]
name = "bevy_mod_scripting_functions"
version_group = "main"

[[package]]
changelog_update = true
name = "ladfile"
git_release_enable = true
git_release_latest = false
git_tag_enable = true
git_tag_name = "v{{ version }}-ladfile"
git_release_name = "v{{ version }}-ladfile"

[[package]]
changelog_update = true
name = "ladfile_builder"
git_release_enable = true
git_release_latest = false
git_tag_enable = true
git_tag_name = "v{{ version }}-ladfile_builder"
git_release_name = "v{{ version }}-ladfile_builder"

[[package]]
changelog_update = true
name = "mdbook_lad_preprocessor"
git_release_enable = true
git_release_latest = false
git_tag_enable = true
git_tag_name = "v{{ version }}-mdbook_lad_preprocessor"
git_release_name = "v{{ version }}-mdbook_lad_preprocessor"
