[workspace]
dependencies_update = false
publish_timeout = "30m"
git_release_enable = false
git_tag_enable = false

[[package]]
name = "bevy_mod_scripting"
version_group = "main"
git_release_latest = true
git_release_enable = true
git_tag_enable = true
git_tag_name = "v{{ version }}"
git_release_name = "v{{ version }}"
git_release_body = """
{{ changelog }}
{% if remote.contributors %}
### Contributors
{% for contributor in remote.contributors %}
* @{{ contributor.username }}
{% endfor %}
{% endif %}
"""
changelog_include = [
    "bevy_mod_scripting_lua",
    "bevy_mod_scripting_core",
    "bevy_mod_scripting_rhai",
    "bevy_mod_scripting_rune",
    "bevy_mod_scripting_functions",
    "bevy_event_priority",
]

[[package]]
name = "bevy_mod_scripting_lua"
publish_features = ["lua54"]
version_group = "main"

[[package]]
name = "bevy_mod_scripting_core"
version_group = "main"

[[package]]
name = "bevy_mod_scripting_rhai"
version_group = "main"

[[package]]
name = "bevy_mod_scripting_rune"
version_group = "main"

[[package]]
name = "bevy_mod_scripting_functions"
version_group = "main"

[[package]]
name = "bevy_event_priority"
version_group = "main"
