[package]
name = "bevy_mod_scripting_rhai_derive"
version = "0.8.0-alpha.1"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Necessary functionality for Rhai support with bevy_mod_scripting"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "rhai"]
categories = ["game-development"]
readme = "readme.md"

[lib]
name = "bevy_mod_scripting_rhai_derive"
path = "src/lib.rs"
proc-macro = true

[dependencies]
bevy_mod_scripting_common = { path = "../../bevy_mod_scripting_common", version = "0.8.0-alpha.1" }
paste = "1.0.7"
syn = { version = "1.0.57", features = ["full", "fold", "extra-traits"] }
quote = "1.0.8"
proc-macro2 = "1.0"
convert_case = "0.5.0"
rustdoc-types = "0.11.0"
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0.137"
indexmap = { version = "1.9.1", features = ["serde"] }
