[package]
name = "script_integration_test_harness"
version = "0.1.0"
edition = "2024"
publish = false

[features]
default = ["lua", "rhai"]
lua = [
    "bevy_mod_scripting_lua",
    "bevy_mod_scripting_functions/lua_bindings",
    "bevy_mod_scripting_lua/lua54",
]
rhai = ["bevy_mod_scripting_rhai", "bevy_mod_scripting_functions/rhai_bindings"]

[dependencies]
bevy_asset = { workspace = true }
bevy_ecs = { workspace = true }
bevy_app = { workspace = true }
test_utils = { workspace = true }
bevy_reflect = { workspace = true }
bevy_log = { workspace = true }
bevy_mod_scripting_core = { workspace = true }
bevy_mod_scripting_bindings = { workspace = true }
bevy_mod_scripting_asset = { workspace = true }
bevy_mod_scripting_functions = { workspace = true, features = [
    "core_functions",
] }
bevy_mod_scripting_display = { workspace = true }
bevy_mod_scripting_script = { workspace = true }
regex = { workspace = true }
pretty_assertions = { workspace = true }
bevy_mod_scripting_lua = { workspace = true, optional = true }
bevy_mod_scripting_rhai = { workspace = true, optional = true }
criterion = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
uuid = { workspace = true }
anyhow = { workspace = true }
serde = { workspace = true, features = ["derive", "std"] }
serde_json = { workspace = true, features = ["std"] }
