[package]
name = "script_integration_test_harness"
version = "0.1.0"
edition = "2021"
publish = false

[features]
default = ["lua", "rhai"]
lua = [
    "bevy_mod_scripting_lua",
    "bevy_mod_scripting_functions/lua_bindings",
    "bevy_mod_scripting_lua/lua54",
]
rhai = ["bevy_mod_scripting_rhai", "bevy_mod_scripting_functions/rhai_bindings"]

[dependencies]
bevy = { workspace = true }
test_utils = { workspace = true }
bevy_mod_scripting_core = { workspace = true }
bevy_mod_scripting_functions = { workspace = true, features = [
    "core_functions",
] }
regex = { version = "1.11" }
pretty_assertions = "1.*"
bevy_mod_scripting_lua = { path = "../../languages/bevy_mod_scripting_lua", optional = true }
bevy_mod_scripting_rhai = { path = "../../languages/bevy_mod_scripting_rhai", optional = true }
criterion = "0.5"
rand = "0.9"
rand_chacha = "0.9"
uuid = "1.11"
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
