[package]
name = "bevy_mod_scripting_core"
version = "0.15.0"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Core traits and structures required for other parts of bevy_mod_scripting"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "lua"]
categories = ["game-development"]
readme = "readme.md"

[lib]
name = "bevy_mod_scripting_core"
path = "src/lib.rs"

[features]
default = []
# if enabled enables documentation updating in optimized builds
doc_always = []

# if enabled enables some common mlua trait implementations 
mlua_impls = ["mlua"]
rhai_impls = ["rhai"]

[dependencies]
mlua = { version = "0.10", default-features = false, optional = true }
rhai = { version = "1.21", default-features = false, features = [
    "sync",
], optional = true }
bevy = { workspace = true, default-features = false, features = [
    "bevy_asset",
    "std",
] }
parking_lot = "0.12.1"
smallvec = "1.11"
itertools = "0.14"
profiling = { workspace = true }
bevy_mod_scripting_derive = { workspace = true }
fixedbitset = "0.5"
bevy_system_reflection = { path = "../bevy_system_reflection", version = "0.2.0" }
serde = { version = "1.0", features = ["derive"] }
uuid = "1.11"
variadics_please = "1.1.0"

[dev-dependencies]
test_utils = { workspace = true }
tokio = { version = "1", features = ["rt", "macros"] }
pretty_assertions = "1.4"

[lints]
workspace = true
