[package]
name = "bevy_mod_scripting_core"
version = "0.9.0-alpha.6"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Core traits and structures required for other parts of bevy_mod_scripting"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "lua"]
categories = ["game-development"]
readme = "readme.md"

[lib]
name = "bevy_mod_scripting_core"
path = "src/lib.rs"

[features]
# if enabled enables documentation updating in optimized builds
doc_always = []

# if enabled enables some common mlua trait implementations 
mlua_impls = ["mlua"]
# rhai_impls = ["rhai"]

[dependencies]
mlua = { optional = true, workspace = true }
# rhai = { optional = true, workspace = true }

bevy = { workspace = true, default-features = false, features = [
    "bevy_asset",
    "reflect_functions",
] }
thiserror = "1.0.31"
parking_lot = "0.12.1"
dashmap = "6"
smallvec = "1.11"
itertools = "0.13"

[dev-dependencies]
test_utils = { workspace = true }

[lints]
workspace = true
