[package]
name = "bevy_mod_scripting_core"
version = "0.9.3"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Core traits and structures required for other parts of bevy_mod_scripting"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "lua"]
categories = ["game-development"]
readme = "readme.md"

[lib]
name = "bevy_mod_scripting_core"
path = "src/lib.rs"

[features]
default = []
# if enabled enables documentation updating in optimized builds
doc_always = []

# if enabled enables some common mlua trait implementations 
mlua_impls = ["mlua"]
rhai_impls = ["rhai"]

[dependencies]
mlua = { version = "0.10", default-features = false, optional = true }
rhai = { version = "1.21", default-features = false, features = [
    "sync",
], optional = true }

bevy = { workspace = true, default-features = false, features = [
    "bevy_asset",
    "reflect_functions",
] }
# I don't think bevy has a top level feature for this :C
bevy_reflect = { version = "0.15.1", features = ["documentation"] }

thiserror = "1.0.31"
parking_lot = "0.12.1"
dashmap = "6"
smallvec = "1.11"
itertools = "0.13"
derivative = "2.2"
profiling = { workspace = true }
bevy_mod_scripting_derive = { workspace = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
indexmap = { version = "2.7", features = ["serde"] }


[dev-dependencies]
test_utils = { workspace = true }
tokio = { version = "1", features = ["rt", "macros"] }

[lints]
workspace = true
