{%- if field.reflection_strategy == "Filtered" -%}
        #[lua(skip)]
{%- endif -%}

{%- if not item.is_tuple_struct -%}
{{- field.ident -}} :
{%- endif -%}
{% if field.reflection_strategy != "Reflection" -%}
{{- field.ty -}}
{%- else -%}
ReflectReference
{%- endif -%} ,

