{%- if field.reflection_strategy == "Proxy" -%}
        #[lua(output(proxy))]
{%- elif field.reflection_strategy == "Filtered" -%}
        #[lua(skip)]
{%- endif -%}

{%- if not item.is_tuple_struct -%}
{{- field.ident -}} :
{%- endif -%}
{% if field.reflection_strategy != "Reflection" -%}
{{- field.ty -}}
{%- else -%}
ReflectedValue
{%- endif -%} ,

