#![allow(clippy::all)]
#![allow(unused, deprecated, dead_code)]
#![cfg_attr(rustfmt, rustfmt_skip)]

{% for crate in dependencies %}
{% if crate != crate_name %}
use super::{{crate}}::*;
{% endif %}
{% endfor %}


use bevy_mod_scripting_core::{AddContextInitializer, StoreDocumentation, bindings::ReflectReference};
use bevy_mod_scripting_functions::RegisterScriptFunction;

{% if args.self_is_bms_lua %}
use crate::*;
{% else %}
use bevy_mod_scripting_lua::*;
{% endif %}