[package]
name = "bevy_mod_scripting_rhai"
description = "Necessary functionality for Rhai support with bevy_mod_scripting"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true
readme.workspace = true

[lib]
name = "bevy_mod_scripting_rhai"
path = "src/lib.rs"

[dependencies]
bevy_ecs = { workspace = true, default-features = false, features = [] }
bevy_asset = { workspace = true, default-features = false, features = [] }
bevy_app = { workspace = true, default-features = false, features = [] }
bevy_log = { workspace = true, default-features = false, features = [] }
bevy_platform = { workspace = true, default-features = false, features = [] }
rhai = { workspace = true, features = ["std", "sync"] }
bevy_mod_scripting_core = { workspace = true }
bevy_mod_scripting_display = { workspace = true }
bevy_mod_scripting_bindings = { workspace = true }
bevy_mod_scripting_asset = { workspace = true }
bevy_mod_scripting_script = { workspace = true }
strum = { workspace = true, features = ["derive"] }
parking_lot = { workspace = true }

[lints]
workspace = true
