[package]
name = "bevy_mod_scripting_rhai"
version = "0.9.0"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Necessary functionality for Rhai support with bevy_mod_scripting"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "rhai"]
categories = ["game-development"]
readme = "readme.md"

[lib]
name = "bevy_mod_scripting_rhai"
path = "src/lib.rs"

[dependencies]
bevy = { workspace = true, default-features = false }
rhai = { version = "1.21" }
bevy_mod_scripting_core = { workspace = true, features = ["rhai_impls"] }
bevy_mod_scripting_functions = { workspace = true, features = [
], default-features = false }
strum = { version = "0.26", features = ["derive"] }

[dev-dependencies]
script_integration_test_harness = { workspace = true }
libtest-mimic = "0.8"
regex = "1.11"

[[test]]
name = "rhai_tests"
harness = false

[lints]
workspace = true
