[package]
name = "ladfile_builder"
version = "0.5.0"
edition = "2021"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Language Agnostic Declaration (LAD) file format for the bevy_mod_scripting crate"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "format", "json"]
categories = ["game-development", "parser-implementations"]
include = ["readme.md", "/src", "/test_assets"]
readme = "readme.md"

[dependencies]
bevy_mod_scripting_core = { workspace = true }
# I don't think bevy has a top level feature for this :C
bevy = { workspace = true }
bevy_reflect = { version = "0.16.0", features = ["documentation"] }
ladfile = { version = "0.5.0", path = "../ladfile" }
regex = "1.11"

[dev-dependencies]
pretty_assertions = "1.4"

[lints]
workspace = true
