[package]
name = "bevy_mod_scripting_functions"
version = "0.9.11"
edition = "2021"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Necessary functionality for Lua support with bevy_mod_scripting"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "rhai"]
categories = ["game-development"]
readme = "readme.md"

[features]
core_functions = []
bevy_bindings = []
lua_bindings = ["bevy_mod_scripting_lua"]
rhai_bindings = ["bevy_mod_scripting_rhai"]


[dependencies]
bevy = { workspace = true, features = [
    "bevy_asset",
    "bevy_animation",
    "bevy_core_pipeline",
    "bevy_ui",
    "bevy_pbr",
    "bevy_render",
    "bevy_text",
    "bevy_sprite",
    "multi_threaded",
] }
profiling = { workspace = true }
uuid = "1.11"
smol_str = "0.2.2"
bevy_mod_scripting_core = { workspace = true }
bevy_mod_scripting_derive = { workspace = true }
bevy_mod_scripting_lua = { path = "../languages/bevy_mod_scripting_lua", optional = true, version = "0.9.11" }
bevy_mod_scripting_rhai = { path = "../languages/bevy_mod_scripting_rhai", optional = true, version = "0.9.11" }
bevy_system_reflection = { path = "../bevy_system_reflection", version = "0.1.0" }

[lints]
workspace = true
