[package]
name = "bevy_mod_scripting_functions"
version = "0.15.0"
edition = "2021"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Necessary functionality for Lua support with bevy_mod_scripting"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "rhai"]
categories = ["game-development"]
readme = "readme.md"

[features]
bevy_ecs = []
bevy_input = []
bevy_math = ["bevy_math/curve"]
bevy_reflect = ["bevy_reflect/smol_str"]
bevy_time = []
bevy_transform = []

core_functions = []
lua_bindings = ["bevy_mod_scripting_lua"]
rhai_bindings = ["bevy_mod_scripting_rhai"]


[dependencies]
bevy = { workspace = true }
# required since curve has no top level bevy features for these
bevy_math = { workspace = true }
bevy_reflect = { workspace = true }

profiling = { workspace = true }
uuid = "1.11"
smol_str = "0.2.0"
bevy_mod_scripting_core = { workspace = true }
bevy_mod_scripting_derive = { workspace = true }
bevy_mod_scripting_lua = { path = "../languages/bevy_mod_scripting_lua", optional = true, version = "0.15.0" }
bevy_mod_scripting_rhai = { path = "../languages/bevy_mod_scripting_rhai", optional = true, version = "0.15.0" }
bevy_system_reflection = { path = "../bevy_system_reflection", version = "0.2.0" }

[lints]
workspace = true
