[package]
name = "bevy_mod_scripting_functions"
version = "0.9.0-alpha.9"
edition = "2021"
authors = ["Maksymilian Mozolewski <makspl17@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Necessary functionality for Lua support with bevy_mod_scripting"
repository = "https://github.com/makspll/bevy_mod_scripting"
homepage = "https://github.com/makspll/bevy_mod_scripting"
keywords = ["bevy", "gamedev", "scripting", "rhai"]
categories = ["game-development"]
readme = "readme.md"

[features]
core_functions = []
bevy_bindings = []


[dependencies]
bevy = { workspace = true, features = [
    "reflect_functions",
    "bevy_asset",
    "bevy_animation",
    "bevy_core_pipeline",
    "bevy_ui",
    "bevy_pbr",
    "bevy_render",
    "bevy_text",
    "bevy_sprite",
    "file_watcher",
    "multi_threaded",
] }
uuid = "1.11"
smol_str = "0.2.2"
bevy_mod_scripting_core = { workspace = true }

[lints]
workspace = true
