on:
  pull_request:
    paths: 
    - "crates/bevy_api_gen/**"
  push:
    branches:
      - main
    paths: 
      - "crates/bevy_api_gen/**"


name: Check and Lint - bevy_api_gen

jobs:
  check:
    name: Check - bevy_api_gen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: 'crates/bevy_api_gen'
          sparse-checkout-cone-mode: false
      - name: Move bevy_api_gen to root
        run: |
          mv crates/bevy_api_gen/* .
          rm -rf crates
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2024-01-24
          override: true
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.3
      - name: Clear space
        run: rm -rf /usr/share/dotnet; rm -rf /opt/ghc; rm -rf "/usr/local/share/boost"; rm -rf "$AGENT_TOOLSDIRECTORY"
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --profile=ephemeral-build

  fmt:
    name: Rustfmt - bevy_api_gen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: 'crates/bevy_api_gen'
          sparse-checkout-cone-mode: false
      - name: Move bevy_api_gen to root
        run: |
          mv crates/bevy_api_gen/* .
          rm -rf crates
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          components: rustfmt
          toolchain: nightly-2024-01-24
          override: true
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.3
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Clippy - bevy_api_gen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: 'crates/bevy_api_gen'
          sparse-checkout-cone-mode: false
      - name: Move bevy_api_gen to root
        run: |
          mv crates/bevy_api_gen/* .
          rm -rf crates
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2024-01-24
          components: clippy
          override: true
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.3
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --profile=ephemeral-build -- -D warnings 
  tests:
    name: Tests - bevy_api_gen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: 'crates/bevy_api_gen'
          sparse-checkout-cone-mode: false
      - name: Move bevy_api_gen to root
        run: |
          mv crates/bevy_api_gen/* .
          rm -rf crates
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2024-01-24
          override: true
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.3
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --profile=ephemeral-build
  docs:
    name: Docs - bevy_api_gen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: 'crates/bevy_api_gen'
          sparse-checkout-cone-mode: false
      - name: Move bevy_api_gen to root
        run: |
          mv crates/bevy_api_gen/* .
          rm -rf crates
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2024-01-24
          override: true
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.3
      # - name: Find docs.rs features
      #   run: echo "DOCS_FEATURES=$(cargo metadata --no-deps | python -c "import sys,json; [print(','.join(x['metadata']['docs.rs']['features'])) for x in json.load(sys.stdin)['packages'] if x['name'] == 'bevy_mod_scripting']")" >> $GITHUB_OUTPUT
      #   id: features
      - uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --profile=ephemeral-build
