name: Deploy mdBook to GitHub Pages

on:
  push:
    branches:
      - "**"
    paths:
      - 'docs/**'
      - '.github/workflows/mdbook.yml'
  pull_request:
    types: [opened]
    branches:
      - "**"
    paths:
      - 'docs/**'
      - '.github/workflows/mdbook.yml'

jobs:

  build:
    name: Build Book - mdbook
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
    
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Rust Cache
      uses: Swatinem/rust-cache@v2.7.3

    - name: Install mdBook
      run: cargo install mdbook

    - name: Build the book
      run: cd docs && mdbook build

    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/staging'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/book